/*-----------
 common styles
---------- */
body {
    background-color: rgba(240, 248, 255, 0.925);
    font-family: roboto;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
}

main {
    padding: 10px;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.25em;
    text-align: center;
}

h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

h4 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 1.25em;
}

h6 {
    margin: 0;
    font-weight: 300;
    letter-spacing: .20em;
    color: rgba(240, 248, 255, 0.568);
}

a {
    font-size: 1.25em;
    font-weight: 500;
    color: aliceblue;
    text-decoration: none;
}

.a-type-ii {
    font-size: 1.25em;
    font-weight: 600;
    color: #e02c6ef3;
    text-decoration: none;
}

.button-i {
    border: none;
    background-color: #e02c6ef3;
    padding: 10px 16px;
    border-radius: 25px;
    margin-top: 20px;
    box-shadow: 8px 8px 15px rgba(128, 128, 128, 0.377);
    margin-bottom: 15px;
}

.button-ii {
    border: none;
    background-color: aliceblue;
    padding: 10px 16px;
    border-radius: 25px;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    box-shadow: 8px 8px 15px rgba(128, 128, 128, 0.377);
}

.menu-icon {
    display: none;
}

.rating-icons {
    margin-top: 15px;
    margin-bottom: 10px;
    color: goldenrod;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
}

.nav-style {
    list-style-type: none;
    display: flex;
}

li {
    font-size: 1.2em;
    padding: 10px;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5em;
    font-weight: bold;
}

/*-----M E D I A-----*/
@media screen and (max-width: 360px) {
    .hero-container {
        background-color: rgba(127, 255, 212, 0.384);
        border-radius: 15px;
    }





    .hero-container {
        flex-direction: column-reverse;
    }

    .hero-text {
        padding: 10px;
    }

    .menu-icon {
        display: inline-flex;
        font-size: 1.5em;
    }

    .nav-style {
        display: none;
    }

    .hero-container img {
        width: 100%;
    }

    .partner-logo {
        padding: 0;
        grid-template-columns: repeat(2, 1FR);
        gap: 1.25em;
        align-items: center;
    }

    .partner-logo img {
        width: 100%;
    }

    .product-gallery {
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;
    }

    .product-card img {
        width: 100%;
    }

    .not-hero-container {
        flex-direction: column-reverse;
        margin-top: 0;
    }

    .not-hero-image img {
        width: 100%;
    }


}

/*------M D E I A styles end------*/


/*-----------
hero section styles
-------------*/
.hero-container {
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}



.fa-arrow-right {
    margin-left: 5px;
}

/*--------------
second section styles
----------*/
.partner-logo {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1FR);
    gap: 1.5em;
    align-items: center;
}

.partner-logo img {
    width: 80%;
}

/*---------------
third section styles
-------------*/



.product-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}



.product-card {
    background-color: white;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgba(128, 128, 128, 0.377);
}

.product-card img {
    width: 100%;
}

.info-text {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: .9em;
}

/* --------------
fourth section styles
-------------------- */

/* Note: probably type-ii button float messed up few proparties */

.not-hero-container {
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

#invisible-hr {
    margin-top: 50px;
    border: 0;
}

/*----------------
footer styles
---------------*/
.blue-style {
    display: flex;
    color: aliceblue;
    background-color: #0A0826;
    flex-direction: column;
    text-align: center;
    padding: 25px;
}

#footer-h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.fa-brands {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}